.carPic{
    width: 100%;
    background-blend-mode: multiply;
}


body{
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
    
}
.bottomHeader{
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
}

.gray{
    color: gray;
}

.lightgray{
    color: lightgray;
}

.cpText{
    font-size: 19px;
}

.rightTab{
    text-align: center;
    padding-right: 10%;
}

.leftTab{
    text-align: center;
    padding-left: 10%;
}

.thumbs{
    width: 50%;
    padding-top: 20px;
}

.rowInfo{
    padding-bottom: 2%;
}

.footercontent{
    width: 50px;
    padding-left: 20px;
}

.requestAquote{
    text-align: center;
    padding-top: 1%;
}

.bigThumb{
    text-align: center;
    width: 400px;
    margin-top: 40px;
}

table {
    border-collapse: collapse;
    width: 75%;
    text-align: center;
    margin: 0px auto;

  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {background-color: #d1d1d1;}

  .center{
      text-align: center;
  }

  .money{
      text-align: right;
  }

  .moveFooter {
      margin-bottom: 210px;
  }

  .buildingThumbs{
      width: 350px;
      padding-bottom: 20px;


  }

  .bold{
      font-weight: bold;
      color: red;
  }

  .myForm{
      text-align: center;
      
  }

  .colors{
      /* width: 30em; */
      width: 90%;
      
      
  }

  .colorsText{
      padding-top: 20px;
  }